version: '3'

networks:
  asyncopenxmlreportssample:

services:
  app:
    image: asyncopenxmlreportssample/app
    links:
      - app-postgres-db:app-postgres-db
      - quartz:quartz
    ports:
      - 80:80
    environment:
      - BackendRoot=http://localhost
      - DefConnStr=SERVER=app-postgres-db;User ID=flexberryuser;Password=jhv;Port=5432;database=appdb;
      - AuthorityUrl=http://keycloak:8080/realms/master/
      - QuartzUrl=http://quartz:5001/api/quartz/
      - UploadUrl=/var/reports
      - TemplatesPath=/var/templates
    volumes:
      - REPORTS:/var/reports
      - TEMPLATES:/var/templates
    networks:
      - asyncopenxmlreportssample

  app-postgres-db:
    image: asyncopenxmlreportssample/postgre-sql
    volumes:
      - DB:/var/lib/pgsql/data/
    ports:
      - 5432:5432
    networks:
      - asyncopenxmlreportssample

  keycloak:
    image: quay.io/keycloak/keycloak:19.0.1
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    networks:
      - asyncopenxmlreportssample
    volumes:
      - KEYCLOAK:/opt/keycloak/data/
    command: start-dev

  quartz:
    image: asyncopenxmlreportssample/quartz
    links:
      - app-postgres-db:app-postgres-db
    ports:
      - 5001:5001
    environment:
      - BackendRoot=http://localhost
      - DefConnStr=SERVER=app-postgres-db;User ID=flexberryuser;Password=jhv;Port=5432;database=appdb;
      - SecurityConnString=SERVER=app-postgres-db;User ID=flexberryuser;Password=jhv;Port=5432;database=appdb;
      - UploadUrl=/var/reports
      - TemplatesPath=/var/templates
    volumes:
      - REPORTS:/var/reports
      - TEMPLATES:/var/templates
    networks:
      - asyncopenxmlreportssample

volumes:
  DB:
  KEYCLOAK:
  REPORTS:
  TEMPLATES: