@{
    ViewData["Title"] = "Приветствую, мой юный друг!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Письмо на базе шаблона Razor Pages</title>
    <style>
        td {
            vertical-align: top;
            text-align: center;
        }
    </style>
</head>
<body>
    <table role="presentation" style="border:0; width:100%; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td style="background-color: #538ee2; text-align: center; text-align: -webkit-center;">
                <table role="presentation" style="max-width: 600px; border:0; width:100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                        <td style="text-align: center; text-align: -webkit-center; vertical-align: top; padding: 40px 10px 40px 10px;">
                            <a href="#" target="_blank">
                                <img alt="Logo" src="cid:logoIconCid" height="40">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color: #538ee2; text-align: center; text-align: -webkit-center; padding: 0px 10px 0px 10px;">
                <table role="presentation" style="max-width: 600px; border:0; width:100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                        <td style="background-color: #ffffff; text-align: center; text-align: -webkit-center; vertical-align: top; padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #272727; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 400; line-height: 48px;">
                            <h1 style="font-size: 48px; font-weight: 400; margin: 0; line-height: 48px;">@ViewData["Title"]</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color: #f4f4f4; text-align: center; text-align: -webkit-center; padding: 0px 10px 0px 10px;">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td style="background-color: #f4f4f4; text-align: center; text-align: -webkit-center; padding: 0px 10px 0px 10px;">
                <table role="presentation" style="max-width: 600px; border:0; width:100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                        <td style="background-color: #ffffff; text-align: left; text-align: -webkit-left; border:none; border-top:solid #dddddd 2px; padding:20px 30px 40px 30px;">
                            <p><span style="font-size:14px; line-height:14px; font-family:'Lato', Helvetica, Arial, sans-serif; color:#a2a2a2"></span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

