@model IIS.AsyncOpenXmlReportsSample.Templates.MailTemplates.RazorPages.RazorPagesMailTemplate
@{
    Layout = "~/Templates/MailTemplates/RazorPages/MailTemplateLayout.cshtml";

    string[] getStringLines(string multiString)
    {
        string[] strings =  multiString.Split("\n");
        return strings;
    }
}

<table role="presentation" style="max-width: 600px; border:0; width:100%; border-spacing: 0; border-collapse: collapse;">
    <tr>
        <td style="background-color: #ffffff; text-align: left; text-align: -webkit-left; padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 18px;">
            @foreach (var paragraph in getStringLines(Model.HtmlMessage))
            {
                <p>@paragraph</p>
            }
        </td>
    </tr>
</table>